# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate*
infra/crash.log
infra/*.tfvars
infra/*.tfvars.json

# Local env files and secrets
.env
.env.*
infra/.env
infra/.env.*

# Docker build cache and artifacts
**/storybook-static

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static

# Obsidian
.obsidian

# Marp
**/slides/**/*.html